$base-color: #cfac00;
$frame-color: #867039;
$sub-frame-color: #aab050;
$font-main-color: #c13a1e;
$content-color: #4f4310;
$content-font-color: #cfac00;

$tekagen-color: magenta;
$hutuu-color: red;
$ittenni-color: yellow;
$nibai-color: #999933;
$neppu-color: #6464ff;
$sanbai-color: #b43cff;